*
{
   margin:0px;
   padding:0px;
   
}



#contenedorrangofechas{
 
 width:auto;
 height:auto;
 padding-bottom: 10px;

}
#contenedorcategorias{
 
width:auto;
 height:auto;
 border-bottom:1px solid #ccc;
 border-bottom-style: dashed;
 padding-bottom: 10px;



}
#menuconsultafechas li {

   list-style-type: none;
   text-align: center;
   margin-top: 6px;

}

#menuconsultafechas a {

   text-decoration: none;
   

}

#tituloconsultafecha{

  width:auto;
  height:30px;
  background-color: orange;
  text-align: center;
  line-height: 7mm;
  color:white;

}
#titulocategoria{

  width:auto;
  height:30px;
  background-color: orange;
  text-align: center;
  line-height: 7mm;
  color:white;

}

#menucategorias li {

   list-style-type: none;
   text-align: center;
   margin-top: 6px;


}

#menucategorias a {

   text-decoration: none;
   

}

#titulocomprashechas
{
  width:auto;
  height:30px;
  background-color: orange;
  text-align: center;
  line-height: 7mm;
  color:white;
/*font-family: 'Fontdiner Swanky', cursive;
font-size: x-large;*/
 background-image: url("../logodos.png");
 background-repeat: no-repeat;
 background-size: 50px 300px;

}

#contenedorarticulo
{
   width:auto;
   height:auto;
   overflow: hidden;
   background-color:;
  border-spacing: 10px 0px;  /*a los lados ,  arriba*/
  
}
#producto
{
  width:240px;
  height:215px;
  background-color:;
  border:1px solid black;
  float:left;
  position: relative;
 margin-left: 10px;
  margin-bottom:5px;
  text-align: center;
  text-decoration: none;
  
}

.fotoproducto{
  width:160px;
  height:160px;

}

img{
 
  max-width:100%;
  height:auto;

}

#contnombreproducto{

 width:auto;
 height:auto;
 background-color:orange;
 color:white;
}




