*{

}

#contenedor{

width:700px;
height:500px;
background: orange;
position: relative;
margin:0px auto;

}

#info{

 width:300px;
 height:200px;
background-color:;
position: relative;
margin-top:5px;
margin-right:10px;
float:left;

}

#contenedorglobal{

width:auto;
height:auto;
background-color:;
position: relative;



}

#contenedorglobalinfo{

width:1379px;
min-height: 840px;
height:auto;
background-color:;
border:1px solid black;
position:relative;
margin:80px auto;


}

#barra{

width:auto;
 height:74px;
 position:fixed;
 top:0px;
left:0px;
right:0px;
 background:white;
 /*rgba(255, 255, 255, 0.95)*/

 /*opacity: 0.5;
  filter:  alpha(opacity=50);*/
   border-bottom: 1px solid black;
  border-bottom-style: dashed;
z-index: 99999;

}
/*******

LOGO

*********/

#contenedorlogo
{
  width:1379px;;
  height:auto;
  position: relative;
  margin-bottom: 5px;
  margin-top:0px;
  margin-left:auto;
  margin-right:auto;
  background-color:;
  
}

#titulopricebook{

	/*font-family: 'Fontdiner Swanky', cursive;
font-size: x-large;*/
 /*background-image: url("../logodos.png");
 background-repeat: no-repeat;
 background-size: 20%;
background-position: center;*/
 
  text-align: left;
  vertical-align: middle;
  margin-top: 5px;
  position: relative;
 font-size: 40px;
    color: #3e3e3e;
    /*font-family: helvetica, arial, sans-serif;*/
    font-family: 'Monoton';


}


/**  
 font-family: 'Codystar'; --->
 font-family: 'Julee'; -->
 font-family: 'Ribeye Marrow'; 
 font-family: 'Nosifer';          -->
 font-family: 'Mystery Quest';
 font-family: 'Londrina Sketch';  -->
font-family: 'Kranky';
font-family: 'Zeyada';  -->
font-family: 'Fontdiner Swanky';  --->
font-family: 'Monoton';  -->


**/

#pr{

color:#F7D358; 
text-decoration:underline; 

}

#signodolar{

color:#FF6701; 
text-decoration:underline;


}

#ce{
 
 color:#F7D358;
 text-decoration:underline; 

}

#book{

 text-decoration:underline; 
  
}

/***** END - LOGO ******/








#contformulario{

width:auto;
height:50px;
background-color:;
position: relative;
margin-top: 0px;

}


#contformulariodos{

width:760px;
height:auto;
background-color:;
position: relative;
margin: 0px auto;


}

#formulariodos{


position: relative;
margin: 3px auto;


}



.input{
 
 width:200px;
 height: 44px;
 padding: 6px;
 border: 1px solid #ccc;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 color: #555;
 border-radius: 5px;
 text-align: center;
 margin-left: 10px;

}


.env{
width:84px;
height: 44px;
padding: 6px;
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
color: #fff;
background-color: #4694e1;
border-color: #2e6da4;
border-radius: 5px;
text-align: center;
display: inline-block;
border: 1px solid transparent;
    border-bottom: 2px solid #2c78c3;
     margin-left: 10px;
}

.env:hover{

	background: #22A7F0;
}

/**********

PANEL IZQUIERDO Y CONTENEDOR DERECHO 


*************/

#contenedorizquierdo{

  min-width: 300px;
  width:auto;
  min-height: 200px;
  height:auto;
  background-color:;
  border-bottom:1px solid black;
  border-bottom-style: dashed;
  float: left;


}

#contenedorderecho{

  width: 1077px;
  min-height: 786px;
  height:auto;
  background-color:;
  float:left;
  position:relative;
  margin-left:-1px;
  border-left:1px solid black;
  border-top:1px solid black;
  border-left-style: dashed;
  border-top-style: dashed;

}


#titulocategoria{

  width:auto;
  height:30px;
  background-color: black;
  text-align: center;
  line-height: 7mm;
  color:white;
    filter: alpha(opacity=50);
    opacity: 0.5;
  
}


/****************
  CONTENEDOR DE ARTICULO 

**************/



.producto
{
  width:230px;
  height:215px;
  background-color:;
  border:1px solid black;
  float:left;
  position: relative;
  margin-top:50px;
 margin-left: 100px;
  margin-bottom:5px;
  text-align: center;
  text-decoration: none;
  
}

.fotoproducto{
  width:160px;
  height:160px;
  position: relative;
 margin: 0px auto;


}

img{
 
  max-width:100%;
  height:auto;

}

#contnombreproducto{

 width:auto;
 height:auto;
 background-color:orange;
 color:white;
}


/*******

PERFIL PRODUCTO

***********/


#contenedordetallearticulo
{
  width:900px;
  height: auto;
  background-color:;
  position: relative;
  margin: 20px auto;
}

#contgeneralarticulo{

position: relative;
margin: 0px auto;
width: 750px;
min-height: 310px;
height: auto;
background-color: ;
}


#contarticulo
{
  width:340px;
  height:300px;
  background-color:;
  border:1px solid black;
  border-style: dashed;
  position: relative;
  margin: 0px 0px 0px 20px; /*arriba, derecha bottom  left*/
  float:left;
 
  
}

#imagen{
  width:160px;
  height:160px;
  position: relative;
  margin: 55px auto;
}


#detallearticulo{
width:340px;
  height:300px;
  background-color:;
  border:1px solid black;
    border-style: dashed;
  position: relative;
  margin-left: 20px;
float: left;

}

#menuperfilarticulo{

 width: auto;
 height: 50px;
 background-color:;
 position: relative;
 margin:15px auto;
 display: table;
  border-collapse: collapse;
  border-spacing: 1px;

  
}

#filamenuarticulo{

	display: table-row;

}

#contopciones{

width: auto;
height: auto;
border:1px solid black;
background-color:  ;
}

.opm {

display: table-cell;
width:200px;
height: 40px;
background-color: ;
text-align: center;
font-weight: bold;
vertical-align: middle;
border-right:1px solid black;
border-right-style: dashed;

}


.opm2 {

display: table-cell;
width:200px;
height: 40px;
background-color: ;
font-weight: bold;
text-align: center;
vertical-align: middle;


}

#filaresultados{

	display: table-row;
}

#contresultados{

width: auto;
height: auto;
/*border:1px solid black;*/
background-color: ;
margin-top:1px;

}

.r1 {

display: table-cell;
width:200px;
height: 40px;
background-color: ;
text-align: center;
vertical-align: middle;
/*border-right:1px solid black;
border-right-style: dashed;*/

}
